/* line 1, loaders.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* line 1, loaders.scss */
audio, canvas, video { display: inline-block; }

/* line 1, loaders.scss */
audio:not([controls]) { display: none; height: 0; }

/* line 1, loaders.scss */
[hidden] { display: none; }

/* line 1, loaders.scss */
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 1, loaders.scss */
a:focus { outline: thin dotted; }

/* line 1, loaders.scss */
a:active, a:hover { outline: 0; }

/* line 1, loaders.scss */
h1 { font-size: 2em; }

/* line 1, loaders.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 1, loaders.scss */
b, strong { font-weight: 700; }

/* line 1, loaders.scss */
dfn { font-style: italic; }

/* line 1, loaders.scss */
mark { background: #ff0; color: #000; }

/* line 1, loaders.scss */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/* line 1, loaders.scss */
pre { white-space: pre-wrap; word-wrap: break-word; }

/* line 1, loaders.scss */
q { quotes: \201C \201D \2018 \2019; }

/* line 1, loaders.scss */
small { font-size: 80%; }

/* line 1, loaders.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 1, loaders.scss */
sup { top: -.5em; }

/* line 1, loaders.scss */
sub { bottom: -.25em; }

/* line 1, loaders.scss */
img { border: 0; }

/* line 1, loaders.scss */
svg:not(:root) { overflow: hidden; }

/* line 1, loaders.scss */
fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

/* line 1, loaders.scss */
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

/* line 1, loaders.scss */
button, input { line-height: normal; }

/* line 1, loaders.scss */
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }

/* line 2, loaders.scss */
button[disabled], input[disabled] { cursor: default; }

/* line 2, loaders.scss */
input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0; }

/* line 2, loaders.scss */
input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 2, loaders.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 2, loaders.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 2, loaders.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 2, loaders.scss */
body, figure { margin: 0; }

/* line 2, loaders.scss */
legend, button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 4, loaders.scss */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* line 8, loaders.scss */
.clearfix:after { content: " "; visibility: hidden; display: block; height: 0; clear: both; }

/* line 1, /Users/philrichards/Dropbox/hackeryou/week6/week6ProjectPhil/AjaxLoaders/css/_footer.scss */
footer { font-size: 12px; position: fixed; left: 0; bottom: 0; padding-right: 2%; width: 100%; color: #000; }

/* line 11, /Users/philrichards/Dropbox/hackeryou/week6/week6ProjectPhil/AjaxLoaders/css/_footer.scss */
footer p { float: right; margin-top: 20px; }
@media (max-width: 480px) { /* line 11, /Users/philrichards/Dropbox/hackeryou/week6/week6ProjectPhil/AjaxLoaders/css/_footer.scss */
  footer p { float: left; } }

/* line 20, /Users/philrichards/Dropbox/hackeryou/week6/week6ProjectPhil/AjaxLoaders/css/_footer.scss */
footer svg { margin-left: 1%; float: right; width: 20px; height: 20px; margin-top: 15px; fill: #000; }

/* line 29, /Users/philrichards/Dropbox/hackeryou/week6/week6ProjectPhil/AjaxLoaders/css/_footer.scss */
footer svg:hover { fill: #FFF; }

/* line 18, loaders.scss */
html, body { min-height: 100%; }

/* line 22, loaders.scss */
body { position: relative; background-image: url("../brushed2/brushed.png"); }

/* line 27, loaders.scss */
body.loading { overflow: hidden; }

/* line 31, loaders.scss */
body.loading .spinner { display: block; }

/* line 35, loaders.scss */
h1, h2, h4 { text-align: center; }

/* line 41, loaders.scss */
h4 { margin-bottom: 0; }

/* line 45, loaders.scss */
button { margin-left: 30%; margin-top: 25px; margin-bottom: 0; position: relative; vertical-align: top; width: 40%; height: 45px; padding: 0; font-size: 22px; color: white; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); border: 0; cursor: pointer; border-radius: 5px; }

/* line 63, loaders.scss */
.button1 { background-color: green; }

/* line 67, loaders.scss */
.button2 { background-color: blue; }

/* line 71, loaders.scss */
.button3 { background-color: red; }

/* line 75, loaders.scss */
.button4 { background-color: yellow; }

/* line 79, loaders.scss */
.button5 { background-color: orange; }

/* line 83, loaders.scss */
.button6 { background-color: purple; }

/* line 87, loaders.scss */
.button7 { background-color: brown; }

/* line 91, loaders.scss */
.button8 { background-color: black; }

/* line 95, loaders.scss */
.overlay { display: none; background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; z-index: 1000; }

/* line 108, loaders.scss */
.spinner { position: absolute; display: none; }

/* line 113, loaders.scss */
.spinner1, .spinner2, .spinner3, .spinner4, .spinner5, .spinner6, .spinner7, .spinner8 { position: fixed; top: 30%; left: 48%; }

/* line 130, loaders.scss */
.spinner1 { width: 70px; height: 70px; background-color: #000; margin: 100px auto; -webkit-animation: rotateplane 1.2s infinite ease-in-out; animation: rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes rotateplane { 0% { -webkit-transform: perspective(120px); }
  50% { -webkit-transform: perspective(120px) rotateY(180deg); }
  100% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotateplane { 0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* line 161, loaders.scss */
.spinner2 { width: 80px; height: 80px; position: fixed; margin: 100px auto; }

/* line 169, loaders.scss */
.double-bounce1, .double-bounce2 { width: 100%; height: 100%; border-radius: 50%; background-color: #000; opacity: 0.6; position: absolute; top: 0; left: 0; -webkit-animation: bounce 2.0s infinite ease-in-out; animation: bounce 2.0s infinite ease-in-out; }

/* line 183, loaders.scss */
.double-bounce2 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }

@-webkit-keyframes bounce { 0%, 100% { -webkit-transform: scale(0); }
  50% { -webkit-transform: scale(1); } }
@keyframes bounce { 0%, 100% { transform: scale(0); -webkit-transform: scale(0); }
  50% { transform: scale(1); -webkit-transform: scale(1); } }
/* line 205, loaders.scss */
.spinner3 { margin: 100px auto; width: 90px; height: 70px; text-align: center; font-size: 10px; }

/* line 213, loaders.scss */
.spinner3 > div { background-color: #000; height: 100%; width: 6px; display: inline-block; margin: 1px; -webkit-animation: stretchdelay 1.2s infinite ease-in-out; animation: stretchdelay 1.2s infinite ease-in-out; }

/* line 224, loaders.scss */
.spinner3 .rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }

/* line 229, loaders.scss */
.spinner3 .rect3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }

/* line 234, loaders.scss */
.spinner3 .rect4 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }

/* line 239, loaders.scss */
.spinner3 .rect5 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay { 0%, 40%, 100% { -webkit-transform: scaleY(0.4); }
  20% { -webkit-transform: scaleY(1); } }
@keyframes stretchdelay { 0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }
  20% { transform: scaleY(1); -webkit-transform: scaleY(1); } }
/* line 261, loaders.scss */
.spinner4 { margin: 100px auto; width: 72px; height: 72px; position: fixed; }

/* line 268, loaders.scss */
.cube1, .cube2 { background-color: #000; width: 35px; height: 35px; position: absolute; top: 0; left: 0; -webkit-animation: cubemove 1.8s infinite ease-in-out; animation: cubemove 1.8s infinite ease-in-out; }

/* line 280, loaders.scss */
.cube2 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }

@-webkit-keyframes cubemove { 25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% { -webkit-transform: rotate(-360deg); } }
@keyframes cubemove { 25% { transform: translateX(42px) rotate(-90deg) scale(0.5); -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% { transform: translateX(42px) translateY(42px) rotate(-179deg); -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% { transform: translateX(42px) translateY(42px) rotate(-180deg); -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% { transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% { transform: rotate(-360deg); -webkit-transform: rotate(-360deg); } }
/* line 313, loaders.scss */
.spinner5 { width: 80px; height: 80px; margin: 100px auto; background-color: #000; border-radius: 100%; -webkit-animation: scaleout 1.0s infinite ease-in-out; animation: scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes scaleout { 0% { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1); opacity: 0; } }
@keyframes scaleout { 0% { transform: scale(0); -webkit-transform: scale(0); }
  100% { transform: scale(1); -webkit-transform: scale(1); opacity: 0; } }
/* line 345, loaders.scss */
.spinner6 { margin: 100px auto; width: 80px; height: 80px; position: fixed; text-align: center; -webkit-animation: rotate 2.0s infinite linear; animation: rotate 2.0s infinite linear; }

/* line 356, loaders.scss */
.dot1, .dot2 { width: 60%; height: 60%; display: inline-block; position: absolute; top: 0; background-color: #000; border-radius: 100%; -webkit-animation: bounce 2.0s infinite ease-in-out; animation: bounce 2.0s infinite ease-in-out; }

/* line 369, loaders.scss */
.dot2 { top: auto; bottom: 0px; -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); } }
@-webkit-keyframes bounce { 0%, 100% { -webkit-transform: scale(0); }
  50% { -webkit-transform: scale(1); } }
@keyframes bounce { 0%, 100% { transform: scale(0); -webkit-transform: scale(0); }
  50% { transform: scale(1); -webkit-transform: scale(1); } }
/* line 396, loaders.scss */
.spinner7 { margin: 100px auto 0; width: 140px; text-align: center; }

/* line 402, loaders.scss */
.spinner7 > div { width: 38px; height: 38px; background-color: #000; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out; /* Prevent first frame from flickering when animation starts */ -webkit-animation-fill-mode: both; animation-fill-mode: both; }

/* line 416, loaders.scss */
.spinner7 .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }

/* line 421, loaders.scss */
.spinner7 .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); }
  40% { -webkit-transform: scale(1); } }
@keyframes bouncedelay { 0%, 80%, 100% { transform: scale(0); -webkit-transform: scale(0); }
  40% { transform: scale(1); -webkit-transform: scale(1); } }
/* line 443, loaders.scss */
.spinner8 { margin: 100px auto; width: 80px; height: 80px; position: fixed; }

/* line 450, loaders.scss */
.container1 > div, .container2 > div, .container3 > div { width: 26px; height: 26px; background-color: #000; border-radius: 100%; position: absolute; -webkit-animation: bouncedelay 1.2s infinite ease-in-out; animation: bouncedelay 1.2s infinite ease-in-out; /* Prevent first frame from flickering when animation starts */ -webkit-animation-fill-mode: both; animation-fill-mode: both; }

/* line 464, loaders.scss */
.spinner8 .spinner8-container { position: absolute; width: 100%; height: 100%; }

/* line 470, loaders.scss */
.container2 { -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg); }

/* line 475, loaders.scss */
.container3 { -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg); }

/* line 480, loaders.scss */
.circle1 { top: 0; left: 0; }

/* line 481, loaders.scss */
.circle2 { top: 0; right: 0; }

/* line 482, loaders.scss */
.circle3 { right: 0; bottom: 0; }

/* line 483, loaders.scss */
.circle4 { left: 0; bottom: 0; }

/* line 485, loaders.scss */
.container2 .circle1 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }

/* line 490, loaders.scss */
.container3 .circle1 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }

/* line 495, loaders.scss */
.container1 .circle2 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }

/* line 500, loaders.scss */
.container2 .circle2 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }

/* line 505, loaders.scss */
.container3 .circle2 { -webkit-animation-delay: -0.7s; animation-delay: -0.7s; }

/* line 510, loaders.scss */
.container1 .circle3 { -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }

/* line 515, loaders.scss */
.container2 .circle3 { -webkit-animation-delay: -0.5s; animation-delay: -0.5s; }

/* line 520, loaders.scss */
.container3 .circle3 { -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }

/* line 525, loaders.scss */
.container1 .circle4 { -webkit-animation-delay: -0.3s; animation-delay: -0.3s; }

/* line 530, loaders.scss */
.container2 .circle4 { -webkit-animation-delay: -0.2s; animation-delay: -0.2s; }

/* line 535, loaders.scss */
.container3 .circle4 { -webkit-animation-delay: -0.1s; animation-delay: -0.1s; }

@-webkit-keyframes bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); }
  40% { -webkit-transform: scale(1); } }
@keyframes bouncedelay { 0%, 80%, 100% { transform: scale(0); -webkit-transform: scale(0); }
  40% { transform: scale(1); -webkit-transform: scale(1); } }
/* line 555, loaders.scss */
footer svg:hover { fill: #008000; }

/*# sourceMappingURL=loaders.css.map */
